.App {
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.btn {
  padding: 1rem;
  margin: 1rem;
}

a{
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  background-color: burlywood;
  padding: 1rem;
  cursor: pointer;
}